.card-main {
    margin-top: 40px;
    padding: 20px;
 
}

.h1-main {
    font-size: 144px;
        font-weight: 800;
        margin-top: 20px;
        color: var(--main-color);
        text-transform: uppercase;
        text-align: center;
}

.card-main .cards {
    border: 1px solid #C98A40;
    border-radius: 30px;
    max-width: 100%;
}

.card-main img {
width:100%;
    overflow: hidden;
    border-radius: 30px;
    display: block;
    object-fit: cover;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.card-main .card-body {
    padding: 20px;

}
.card-main .cards h5 {
    color:#C98A40;
    font-size: 16px;
    font-weight: 900;
}
.card-main .cards p {
    font-size: 14px;
}