.about {
    display: flex;
    

}
.about-details {
    padding: 30px 0;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
}
.about h1 {
font-size: 104px;
    font-weight: 800;
    margin-top: 20px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.about p {
    font-size: var(--font-s-p);
        color: var(--main-color-w);
        font-weight: 600px;
        width: 50%;
        margin: auto;
        margin-bottom: 40px;

}
  .about button {
  width: 194px;
  height: 60px;
  background-color: #fdba10;
  font-size: 18px;
  font-weight: 900;
  border: none;
  margin-top: 40px;
  color: #fff;
  border-radius: 30px;
  margin: auto;
  }
  .image-about {
    position: relative;
  }
 .chef {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-20%, 10%);
    -webkit-transform: translate(-20%, 10%);
    -moz-transform: translate(-20%, 10%);
    -ms-transform: translate(-20%, 10%);
    -o-transform: translate(-20%, 10%);
}
.clear {
    clear: both;
}